/* navbar.jsp */
.navbar.bg-wellify {
    background-color: #96FCD0 !important;
}

.navbar.bg-black {
    background-color: #000 !important;
}

.navbar-nav.mx-auto {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 992px) {
  .navbar-nav.mx-auto {
    position: static;
    transform: none;
  }
}

/* registerForm */
.card {
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255,255,255,0.1);
}

.selectpicker {
  border: 1px solid #6c757d;
  background: #343a40 !important;
  color: white !important;
}

.bootstrap-select .dropdown-menu {
  background: #343a40;
}